* {
  box-sizing: border-box;
  text-decoration: none !important;
}
body {
  margin: 0px;
  font-weight: 400;
  font-family: 'Arial', sans-serif;
  background-color: #202329 !important;
}
ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}
a {
  display: inline-block;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0px 20px;
}
.card-wrap {
  padding: 90px 0px;
  background-color: #202329;
}
.card-title {
  margin: 0px 0px 90px 0px;
  color: #fff;
  text-align: center;
  font-size: 70px;
}

img {
  display: block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
