.filter-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.filter-title{
    color: #fff;
}
.filter-clear{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}